<div class="container text-center">
  <div class="display-4 mt-5 mb-5">
    La liste des agents
  </div>
  <div>
    <table class="table table-bordered table-striped">
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date et lieu de naissance</th>
        <th>N. Piéce</th>
        <th>Structure</th>
        <th>Fonction</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
      
    </table>
  </div>
</div>
